body {
  font-family: "Book Antiqua";
  background-color: navajowhite;
}

.jumbotron {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/fc/de/48/fcde4871c0614106dbcbaf4ede6cbd7b.jpg");
  background-size: cover;
  background-position: center;
  color: white;

}

img {
  height: 250px;
  width: 325px;
}

.well {
   background: linear-gradient(navajowhite, white, navajowhite);
   margin: 1px;
   border: none;
}

.well p {
  padding-top: 80px;
  text-align: center;
  font-size: 24px;
}

footer {
  text-align: center;
}
